@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(253, 116, 67);
}
.clock{
    width: 100%;
    height:100vh;
    background :  linear-gradient(to left top, #013730, rgba(12, 42, 174, 0.7));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    height: 300px;
    background: #ffffff20;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
}
.hour,.min,.sec{
    position: relative;
    /* top:20%; */
    width : 80px;
    margin: 0px 5px;
    padding: 0 5px;
    height: 100%;
    font-size: 100px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 10px 0 rgba( 31, 38, 135, 0.37 ),0 2px 100px 0 rgba(25, 102, 255, 0.1) inset;
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    overflow: hidden;
    border-radius: 3px;
}
.b1,.b2,.b3,.b4,.b5,.b6{
    height: 100px;
    text-align: center;
    position: absolute;
    /* top:100; */
    width : 80px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(250, 250, 250, 0);
}
p{
    font-size: 50px;
    color: white;
}
.weekdays{
    color:white;
	font-size: 30px;
	-webkit-text-stroke: 0.5px black;
	-webkit-text-fill-color: white;
    font-weight: 700;
    z-index:1;
}
@media screen and (max-width: 700px) {
    .b1,.b2,.b3,.b4,.b5,.b6{
        width : 50px;
        height: 60px;
    }
    .hour,.min,.sec{
        width : 50px;
        font-size: 60px;
    }
    .box{
        height: 180px;
    }
    p{
        font-size: 30px;
    }
}
@media screen and (max-width: 460px) {
    .b1,.b2,.b3,.b4,.b5,.b6{
        width : 30px;
        height: 50px;
    }
    .hour,.min,.sec{
        width : 30px;
        font-size: 50px;
    }
    .box{
        height: 150px;
    }
    p{
        font-size: 20px;
    }
}